/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 20. 07. 2017
 Finish Date: 30. 07. 2017

*/



/*
    Custom marin top & bottom classes
*/
.mt0{margin-top: 0 !important}
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.pt5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}

/* COSTUME PADDING CLASES */

.pt5{padding-top:5px!important}
.pt10{padding-top:10px!important}
.pt15{padding-top:15px!important}
.pt20{padding-top:20px!important}
.pt25{padding-top:25px!important}
.pt30{padding-top:30px!important}
.pt35{padding-top:35px!important}
.pt40{padding-top:40px!important}
.pt45{padding-top:45px!important}
.pt50{padding-top:50px!important}
.pt55{padding-top:55px!important}
.pt60{padding-top:60px!important}
.pt65{padding-top:65px!important}
.pt70{padding-top:70px!important}
.pt75{padding-top:75px!important}
.pt80{padding-top:80px!important}
.pt85{padding-top:85px!important}
.pt90{padding-top:90px!important}

.pb5{padding-bottom:10px!important}
.pb10{padding-bottom:5px!important}
.pb15{padding-bottom:15px!important}
.pb20{padding-bottom:20px!important}
.pb25{padding-bottom:25px!important}
.pb30{padding-bottom:30px!important}
.pb35{padding-bottom:35px!important}
.pb40{padding-bottom:40px!important}
.pb45{padding-bottom:45px!important}
.pb50{padding-bottom:50px!important}
.pb55{padding-bottom:55px!important}
.pb60{padding-bottom:60px!important}
.pb65{padding-bottom:65px!important}
.pb70{padding-bottom:70px!important}
.pb75{padding-bottom:75px!important}
.pb80{padding-bottom:80px!important}
.pb85{padding-bottom:85px!important}
.pb90{padding-bottom:90px!important}


@font-face {
    font-family: 'United Sans Rg Light';
    src: url('../fonts/UnitedSansReg/UnitedSansReg-Light.eot');
    src: url('../fonts/UnitedSansReg/UnitedSansReg-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Light.woff2') format('woff2'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Light.woff') format('woff'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Light.ttf') format('truetype'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Light.svg#UnitedSansReg-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'United Sans Rg Bold';
    src: url('../fonts/UnitedSansReg/UnitedSansReg-Bold.eot');
    src: url('../fonts/UnitedSansReg/UnitedSansReg-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Bold.woff2') format('woff2'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Bold.woff') format('woff'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Bold.ttf') format('truetype'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Bold.svg#UnitedSansReg-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'United Sans Rg Black';
    src: url('../fonts/UnitedSansReg/UnitedSansReg-Black.eot');
    src: url('../fonts/UnitedSansReg/UnitedSansReg-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Black.woff2') format('woff2'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Black.woff') format('woff'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Black.ttf') format('truetype'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Black.svg#UnitedSansReg-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'United Sans Rg Medium';
    src: url('../fonts/UnitedSansReg/UnitedSansReg-Medium.eot');
    src: url('../fonts/UnitedSansReg/UnitedSansReg-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Medium.woff2') format('woff2'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Medium.woff') format('woff'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Medium.ttf') format('truetype'),
    url('../fonts/UnitedSansReg/UnitedSansReg-Medium.svg#UnitedSansReg-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot'); /* IE9 Compat Modes */
    src: url('../fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fontello/fontello.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fontello/fontello.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/fontello/fontello.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fontello/fontello.svg#svgFontName') format('svg'); /* Legacy iOS */
}

input:focus,
button:focus,
a:focus{
    outline-offset: 0px;
    box-shadow: none;
    border: none;
    outline: none;
}
body{
    background: #f5f5f5;
    font-family: 'Roboto Condensed', sans-serif;
}

.top-header{
    background-color: #1d1e23;
    border: solid 1px #484a57;
    border-left: none;
    border-right: none;
    padding: 9px 0;
}
.call-now,
.call-now a{
    font-family: "Roboto" , sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #bab1a8;
}
.user-elem,
.user-elem a{
    font-family: "Roboto" , sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #bab1a8;
}
.top-header a{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.top-header a:hover{
    color: #ff5000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-decoration: none;
}
.middle-header{
    padding: 16px 0;
    background-image: url("../images/header-bg.png");
    background-size: cover;
}
.middle-header .logo img{
    max-width: 85px;
    width: 100%;
    height: 85px;
}
.slogan{
    text-align: left;
    padding-top: 20px;
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 14px;
    color: #bab1a8;
    position: relative;
    left: -20px;
}
.slogan .small{
    font-size: 12px;
}
.delivery img{
    display: inline-block;
}
.delivery{
    padding-top: 17px;
}
.delivery a{
    font-family: "Roboto" , sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #bab1a8;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.delivery a:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #ff5000;
    text-decoration: none;
}
.search{
    padding: 12px 0 0 0;
}
.search label,
.search input{
    display: block;
    width: 100%;
}
.search input{
    padding: 20px;
    border: none;
    background: rgba(255,255,255, .8);
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: rgba(29, 30, 35, 0.8);
}
.search input:-moz-placeholder{
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: rgba(29, 30, 35, 0.8);
}
.search input::-moz-placeholder{
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: rgba(29, 30, 35, 0.8);
}
.search input::-webkit-input-placeholder{
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: rgba(29, 30, 35, 0.8);
}
.search input:-ms-input-placeholder{
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: rgba(29, 30, 35, 0.8);
}
.search{
    position: relative;
}
a:hover{
    cursor: pointer;
}
.search button{
    position: absolute;
    right: 16px;
    top: 23px;
    color: #ff5000;
    border: none;
    background: transparent;
    font-size: 22px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.bottom-header nav ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
    text-align: center;
}
.bottom-header nav ul li{
    display: inline-block;
    margin: 0 30px;
}
.bottom-header{
    background-color: #1d1e23;
    border: solid 2px #ff5000;
    padding: 14px 0;
    border-left: none;
    border-right: none;
}
.bottom-header nav ul li a{
    font-family: "United Sans Rg Bold" ,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #fbf7f1;
    padding: 4px 5px 2px 5px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.bottom-header nav ul li a:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #ff5000;
    text-decoration: none;
}
.bottom-header nav ul li a:before{
    content: "";
    background: url("../images/hover-link-before.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 5px;
    position: absolute;
    left: -5px;
    top: -1px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0;
}
.bottom-header nav ul li a:hover:after,
.bottom-header nav ul li a:hover:before{
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.open:before{
    content: "";
    background: url("../images/hover-link-before.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 5px;
    position: absolute;
    left: -5px;
    top: -1px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1 !important;
    color: #ff5000 !important;
}
.open:after{
    content: "";
    background: url("../images/hover-link-after.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 5px;
    position: absolute;
    right: -1px;
    top: -1px;
    opacity: 1 !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #ff5000 !important;
}
.bottom-header nav ul li a:after{
    content: "";
    background: url("../images/hover-link-after.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 5px;
    position: absolute;
    right: -1px;
    top: -1px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.bottom-header nav ul{
    position: relative;
}
.submenu{
    position: absolute;
    top: 38px;
    width: 100%;
    left: 0;
    background-color: #1d1e23;
    display: none;
    z-index: 1;
}

.submenu .image{
    padding: 40px;
}
.submenu-nav ul{
    list-style-type: none;
    margin: 0;
    text-align: left !important;
    padding: 45px 0 0 0 !important;
}
.submenu-nav ul li{
    display: block !important;
    float: none;
    margin: 3px 0 !important;
}


/* TOP PRESENTATION */

.presentation.top{
    height: 802px;
    position: relative;
    background-image: url("../images/top-presentation-bg.jpg");
    background-size: cover;
    border-bottom: 10px solid #ff5000;
}
.presentation .container{
    position: relative;
    height: 802px;
}
.big-title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    background: url("../images/big-title-left-top.png") left top,
    url("../images/big-title-left-bottom.png") left bottom ,
    url("../images/big-title-right-top.png") right top,
    url("../images/big-title-right-bottom.png") right bottom;
    background-repeat: no-repeat;
}
.presentation-elem{
    position: absolute;
    bottom: 47px;
    width: 100%;
}
.presentation-elem .content{
    max-width: 750px;
    margin:0 auto;
}
.presentation-elem .short-description{
    font-family: "Roboto Condensed" , sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: condensed;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
}
.presentation-elem a{
    display: inline-block;
    max-width: 300px;
    width: 100%;
    padding: 28px 0;
    background-color: #ff5000;
    text-align: center;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 0.93;
    color: #ffffff;
}
.presentation-elem a:hover{
    text-decoration: none;
    background: #1d1e23;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}


.facility{
    padding: 60px 0;
    background-color: #1d1e23;
}
.facility-box{
    padding: 30px;
    background-color: rgba(0, 0, 0, .7);
}
.facility-box .small-title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 22.7px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    position: relative;
    background: url("../images/title-top-left.png") top left , url("../images/title-left-bottom.png") bottom left , url("../images/title-top-right.png") right top , url("../images/title-bottom-right.png") right bottom;
    background-repeat: no-repeat;
}
.facility-box .icon-box{
    padding: 55px 0 51px 0;
}
.facility-box .icon-box img{
    margin: 0 auto;
    display: block;
}
.facility-box .short-description{
    font-family: "Roboto Condesed Light" , sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: condensed;
    line-height: 1.87;
    text-align: center;
    color: #ffffff;
}

.products{
    padding: 60px 0;
    background: #f8f8f8;
    border-bottom: 10px solid #ff5000;
}
.product-box{
    padding: 19px 21px;
    background: #fff;
    border: solid 1px #ebebeb;
}

.products-group > .row:first-child{
    padding-left: 15px;
}
.products-group > .row:last-child{
    padding-right: 15px;
}
.product-box .img img{
    display: block;
    margin: 0 auto;
}
.product-box .name-product{
    padding: 32px 0 12px 0;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #1d1e23;
}
.price{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #ff5000;
}
.see-more{
    display: inline-block;
    max-width: 235px;
    width: 100%;
    padding: 21px;
    text-align: center;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: #777777;
    background-color: #eeeeee;
    margin: 21px 0 0 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.see-more:hover{
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #ff5000;
    color: #fff;
}
.product-box .img img{
    max-height: 171px;
}
.title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    color: #ff5000;
    padding: 0 120px;
    position: relative;
    display: inline-block;
}
.title:before{
    content: "";
    background: url("../images/sigle-triangel-bg-before.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.title:after{
    content: "";
    background: url("../images/sigle-triangel-bg-after.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.products-group{
    padding-top: 70px;
}

/* MIDDLE PRESENTATION */

.presentation.middle{
    height: 802px;
    position: relative;
    background-color: #cf4128;
    background-image: url("../images/middle-presentation-bg.png");
    background-size: cover;
    border-bottom: 10px solid #ff5000;
}

/* RECENT PRODUCTS */
.recent-add-products{
    border-bottom: none;
}


.image-box-about-us{
    position: relative;
    background: url("../images/about-us-elem-bg.png");
    background-size: 60% 60% !important;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.image-box-about-us img{
    display: block;
    position: absolute;
    height: 90%;
    width: 90%;
}
.image-box-about-us:after{
    content: "";
    background: url("../images/sigle-triangel-bg-after.png");
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: -23px;
    right: 23px;
    width: 35px;
    height: 35px;
}
.about-us{
    padding: 57px 0 130px 0;
    background: #fff;
}
.description-company .small-title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.07;
    text-align: left;
    color: #333333;
}
.description-company .description{
    font-family: "Roboto Light" , sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: condensed;
    line-height: 1.87;
    letter-spacing: 0.4px;
    text-align: left;
    color: #777777;
}
.blog{
    padding: 60px 0 127px 0;
    background: #f8f8f8;
}
.blog .title{
    margin-bottom: 63px;
}
.blog-box .img img{
    display: block;
    width: 100%;
    max-height: 291px;
}
.blog-box .info{
    padding: 34px 30px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.blog-box .small-title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.9px;
    text-align: left;
    color: #333333;
    margin-bottom: 20px;
}
.blog-box .date-post{
    margin-bottom: 40px;
    font-family: "Roboto Condensed" , sans-serif;
    font-size: 15px;
    font-stretch: condensed;
    font-weight: 500;
    line-height: 3.28;
    text-align: left;
    color: #999999;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.blog-box .description{
    font-family: "Roboto Condesed" , sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: condensed;
    line-height: 1.67;
    text-align: left;
    color: #666666;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.blog-box a:hover{
    text-decoration: none;
}
.blog-box{
    position: relative;
}
.blog-box:before{
    content: "";
    background-image: url("../images/sigle-triangel-bg-before.png");
    display: inline-block;
    width: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 20px;
    position: absolute;
    left: -10px;
    top: -10px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.blog-box:after{
    content: "";
    background-image: url("../images/sigle-triangel-bg-after.png");
    display: inline-block;
    width: 20px;
    background-size: 100% 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background-repeat: no-repeat;
    height: 20px;
    position: absolute;
    right: -15px;
    bottom: -15px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.blog-box:hover:after,
.blog-box:hover:before{
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.blog-box:hover{
    background: #f74f02;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.blog-box:hover .info{
    background: rgba(255,255,255, .5);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.blog-box:hover .description,
.blog-box:hover .date-post{
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.blog{
    border-bottom: 10px solid #ff5000;
}


.parteners-and-payout{
    background-color: #1d1e23;
    padding: 60px 0;
}
.payout-box{
    max-width: 79px;
    width: 100%;
    height: 45px;
    margin: 0 auto 13px auto;
}
.payout-group{
    width: 100%;
    margin: 0 auto;
    padding: 27px 78px;
    background: rgba(0, 0, 0, .3);
}
.parteners-and-payout .small-title{
    background: url("../images/title-top-left.png") top left , url("../images/title-left-bottom.png") bottom left , url("../images/title-top-right.png") right top , url("../images/title-bottom-right.png") right bottom;
    background-repeat: no-repeat;
    display: block;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 22.7px;
    font-weight: 900;
    line-height: 0.93;
    text-align: center;
    color: #ffffff;
    padding: 7px 0;
    margin-bottom: 20px;
    max-width: 250px;
    width: 100%;
    margin: 0 auto 20px auto;
}
.parteners{
    padding: 27px 20px;
    background: rgba(0, 0, 0, .3);
}

.parteners-slider .swiper-slide img{
    display: block;
    width: 70%;
    margin: 0 auto;
}
.parteners-slider .swiper-wrapper{
    padding: 15px 0 65px 0;
}
.parteners-slider .parteners-next-btn,
.parteners-slider .parteners-prev-btn{
    top: 90%;
    background: none;
}
.parteners-slider .parteners-next-btn{
    right: 44%;
}
.parteners-slider .parteners-prev-btn{
    left: 47.5%;
    top: 89.5%;
}

.seo{
    padding: 56px 0 230px 0;
}
.seo .description{
    font-family: "Roboto Condesed" , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.87;
    letter-spacing: 0.4px;
    text-align: left;
    color: #777777;
}
.seo .title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.07;
    text-align: left;
    color: #333333;
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 10px 0 0 20px;
    background: url("../images/big-title-left-top.png") left top;
    background-repeat: no-repeat;
    background-size: 2%;
}
.seo .title:before{
    background: transparent;
}
.seo .title:after{
    background: transparent;
}

footer nav ul{
    list-style-type: none;
    padding: 23px 0 0 0;
    margin: 0;
    text-align: center;
}
footer nav ul li{
    display: inline-block;
    margin: 0 30px;
}
footer{
    background-color: #141518;
    padding: 29px 0;
}
footer nav ul li a{
    font-family: "United Sans Rg Bold" ,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #fbf7f1;
    padding: 4px 5px 2px 5px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
footer nav ul li a:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #ff5000;
    text-decoration: none;
}
footer nav ul li a:before{
    content: "";
    background: url("../images/hover-link-before.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 5px;
    position: absolute;
    left: -5px;
    top: -1px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0;
}
footer nav ul li a:hover:after,
footer nav ul li a:hover:before{
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.open:before{
    content: "";
    background: url("../images/hover-link-before.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 5px;
    position: absolute;
    left: -5px;
    top: -1px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1 !important;
    color: #ff5000 !important;
}
.open:after{
    content: "";
    background: url("../images/hover-link-after.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 5px;
    position: absolute;
    right: -1px;
    top: -1px;
    opacity: 1 !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #ff5000 !important;
}
footer nav ul li a:after{
    content: "";
    background: url("../images/hover-link-after.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 5px;
    position: absolute;
    right: -1px;
    top: -1px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
footer .submenu{
    position: absolute;
    width: 100%;
    left: 0;
    top: -311px;
    background-color: #1d1e23;
    display: none;
    z-index: 1;
    border-bottom: 5px solid #ff5000;
}
footer .container{
    position: relative !important;
}

footer .submenu .image{
    padding: 40px;
}
footer .submenu-nav{
    overflow-y: auto;
    position: relative;
    max-height: 277px;
    height: 100%;
}
footer .submenu-nav ul{
    list-style-type: none;
    margin: 0;
    text-align: left !important;
    padding: 45px 0 45px 0 !important;
}
footer .submenu-nav ul li{
    display: block !important;
    float: none;
    margin: 3px 0 !important;
}
footer .text ,
footer .text a{
    padding: 9px 0;
    font-family: "Roboto Bold" , sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #bab1a8;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

footer .copyright,
footer .copyright a{
    font-family: "Roboto Condesed" , sans-serif;
    font-size: 12px;
    font-stretch: condensed;
    line-height: 2.17;
    letter-spacing: 0.3px;
    text-align: left;
    color: #777777;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
footer .text a:hover,
footer .copyright a:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-decoration: none;
    color: #ff5000;
}
footer .row > div{
    position: static;
}


/* CATEGORY BOX */
.name-page{
    height: 270px;
    background-image: url("../images/name-section-bg.png");
    background-size: cover;
    background-color: #ff5000;
    border-bottom: 10px solid #ff5000;
    padding-top: 90px;
}
.name-page .big-title{
    padding: 10px 0;
}
.breadcrumb>li+li:before{
    content: '';
    font-family: "fontello" , sans-serif;
}
.breadcrumb li a{
    font-family: "United Sans Rg Light" , sans-serif;
    font-size: 14px;
    color: #777777;
}
.breadcrumb>.active{
    font-family: "United Sans Rg Light" , sans-serif;
    font-size: 14px;
    color: #777777;
}
.breadcrumb{
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    border-radius: 0;
}
.category{
    padding: 20px 0;
}
.products.different,
.products.different .products-group{
    padding: 0;
    background: transparent;
}
.product-box{
    margin-bottom: 30px;
}
.products.different{
    border: none;
}

.about-us.different{
    background: #f8f8f8;
    padding: 20px 0;
}
.about-us.different .breadcrumb{
    margin-bottom: 40px;
}

.blog.different{
    padding: 20px 0;
}
.blog-box{
    margin: 0 0 30px 0;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pagination>li>a:hover,
.pagination>li>span:hover{
    background-color: #ff5000;
    borderder-color: #ebebeb;
}
.pagination>li>a,
.pagination>li>span{
    border:1px solid #ebebeb;
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #909da5;
}
.post{
    padding: 20px 0;
}
.blog.different .title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 30px;
    line-height: 1.07;
    text-align: left;
    color: #333333;
    background: url("../images/big-title-left-top.png");
    background-repeat: no-repeat;
    padding: 15px 0 0 30px;
    background-size: 10%;
}
.blog.different .title:before,
.blog.different .title:after{
    content: "";
    background: none;
}


.about-post .img-box{
    border: 1px solid #fafafa;
}
.about-post{
    padding: 22px;
    background: #fff;
}
.big-different-title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    color: #1d1e23;
    margin-bottom: 40px;
}
.small-different-title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    margin: 22px 0;
}
.info-product ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condesed" , sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #1d1e23;
}
.arrow:before{
    content: "" ;
    display: inline-block;
    margin-right: 5px;
    font-family: "fontello" , sans-serif;
    color: #ff5000;
}
.text,
.large-description{
    font-family: "Roboto Condesed" , sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: condensed;
    text-align: left;
    color: #1d1e23;
}
.post-by img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}
.img-box,
.img{
    position: relative;
}
.img-box .badge,
.img .badge{
    position: absolute;
    top: 9px;
    left: 9px;
    border-radius: 0;
    padding: 5px 11px;
    background-color: #ff5000;
}
 .select2-container--krajee .select2-selection--single .select2-selection__rendered {
    font-family: "United Sans Rg Medium", sans-serif!important;
    font-size: 15px!important;
    color: #a1b1bc!important;
}
.filter label{
    display: block;
    width: 100%;
}
.select2-container{
    width: 100% !important;
    display: block;
}
.filter .text{
    padding-top: 10px;
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 14px;
    color: #777777;
}
.select2-container--krajee .select2-selection--single{
    border-radius: 0!important;
    height: 40px!important;}
.select2-container .select2-selection--single .select2-selection__rendered{
    height: 40px;
    display: block;
    padding: 7px 0 8px 10px!important;
    line-height: 1!important;
}
.breadcurbs-filter-result{
    padding: 3px 20px 2px 20px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    margin-bottom: 30px;
}
.breadcurbs-filter-result .breadcrumb{
    border: none;
    background: transparent;
    padding-top: 10px;
    margin: 0;
}
label{
    margin: 0;
}

 .select2-container--krajee .select2-selection--single .select2-selection__arrow{
     border:none!important;
    width: 30px!important;
    height: 30px!important;
    background-color: #f8f8f8;
    top: 5px!important;
    right: 5px!important;
}
.filter{
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #777777;
}
.filter .row .col-md-6{
    max-height: 40px;
}
.filter > span.text{
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #777777;
}
.result-search .strong{
    font-family: "United Sans Rg Black" , sans-serif !important;
    font-size: 14px;
    color: #777777;
}
.result-search{
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 14px;
    color: #777777;
    padding-top: 10px;
    text-align: right;
}
.all-products{
    padding: 20px 0;
}

.left-slider-filter{
    background: #fff;
    padding: 20px;
}
.left-slider-filter .small-title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 20px;
    font-weight: 900;
    padding: 5px 0;
    margin: 40px 0 30px 0;
    text-align: center;
    color: #1d1e23;
    background: url("../images/title-top-left.png") left top,
    url("../images/title-left-bottom.png") left bottom,
    url("../images/title-top-right.png") right top,
    url("../images/title-bottom-right.png") right bottom;
    background-repeat: no-repeat;
}

.products-group.no-padding{
    margin: 0;
    padding: 0;
}
.left-slider-filter form:first-child{
    margin-top: 0 !important;
}

.left-slider-filter label{
    display: block;
    width: 100%;
}
.product-box .badge{
    top: -10px;
    left: -10px;
}
.left-slider-filter .jq-checkbox.checked .jq-checkbox__div{
    background: url("../images/checkbox.png");
    margin: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
.left-slider-filter label{
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    color: #1d1e23;
}
.left-slider-filter button[type='submit']{
    display: block;
    width: 100%;
    padding: 19px 0;
    text-align: center;
    background-color: #ff5000;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: #ffffff;
    margin-top: 70px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.left-slider-filter button:hover{
    color: #ff5000;
    background: #1d1e23;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.products-info .gallery-thumbs .swiper-wrapper{
    padding: 30px 0;
}
.products-info .gallery-thumbs .swiper-slide{
    width: 100px;
    height: 100px;
}
.products-info .gallery-thumbs .swiper-slide img{
    width: 100%;
    height: 100%;
}
.products-info .gallery-top .swiper-slide img{
    width: 100%;
}
.products-info .gallery-top{
    border: 1px solid #ebebeb;
}
.products-info .description-product .title{
    display: inline-block;
    padding: 0;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 40px;
    text-align: left;
    color: #1d1e23;
}
.products-info .description-product .title:before,
.products-info .description-product .title:after{
    display: none;

}
.products-info .description-product .price{
    font-size: 40px;
    text-align: left;
}
.products-info{
    background: #fff;
    padding: 23px;
}

.products-info button[type="submit"]{

}
.products-info button[type='submit']{
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding: 19px 0;
    text-align: center;
    background-color: #ff5000;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: #ffffff;
    margin-top: 70px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.products-info button:hover{
    color: #ff5000;
    background: #1d1e23;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.products-info label{
    display: inline-block;
    margin: 0;
}
.products-info input{
    display: none;
    visibility: hidden;
}
.products-info label.attribut{
    display: inline-block;
    background-color: #f8f8f8;
    margin: 5px 0;
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 15px;
    text-align: center;
    color: #1d1e23;
    width: auto;
    height: 28px;
    padding: 5px 2px;
    border: 2px solid transparent;
}
.products-info form input:checked + label{
    border-color: #ff5000;
}
.products-info form label.color{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin: 6px;
    border: 2px solid transparent;
}
.products-info form label.gold{
    background: #a28855;
}
.products-info form label.cafeniu{
    background: #6e4636;
}
.products-info form label.verde{
    background: #476e36;
}
.products-info form input:checked + label{
    border-color: #ff5000;
}

.products-info ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.about-product{
    padding: 20px 0;
}

#map-1{
    height: 590px;
    width: 100%;
    border-bottom: 10px solid #ff5000;
}
.products-info label.size {
    display: inline-block;
    background-color: #f8f8f8;
    margin: 5px 0;
    font-family: "United Sans Rg Bold" , sans-serif;
    font-size: 15px;
    text-align: center;
    color: #1d1e23;
    width: 30px;
    height: 28px;
    padding: 5px 0;
    border: 2px solid transparent;
}
.contact-box .icon-box{
    font-size: 36px;
    text-align: center;
    color: #090803;
}
.contact-box .icon-box a,
.contact-box .text,
.contact-box .text a{
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 18px;
    color: #666666;
    text-align: center;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.name-contact{
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 25px;
    line-height: 1.0;
    text-align: center;
    color: #333333;
}
.contact-box div{
    margin: 0 0 20px 0;
}
.contact-box{
    padding: 40px 0;
    border: solid 1px #e6e6e6;
    background: #fff;
}
.contacts-group .row > div{
    padding: 0;
}
.contacts-group .row:first-child{
    padding-left: 15px;
}
.contacts-group .row:last-child{
    padding-right: 15px;
}
.contact-box a:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #ff5000;
    text-decoration: none;
}
.name-contact hr{
    position: relative;
    top: 35px;
}
.contacts{
    position: relative;
    top: -123px;
}
.contact-us-now .big-different-title{
    background: url("../images/big-title-left-top.png") 3px 10px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 6%;
    padding: 20px;
}
.contact-us-now{
    padding: 35px 0 80px 0;
}
.contact-us-now label{
    width: 100%;
    display: block;
    margin-bottom: 17px;
}
.contact-us-now label input{
    width: 100%;
    padding: 20px;
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
    border: solid 1px #ebebeb;
}
.contact-us-now label input:-ms-input-placeholder,
.contact-us-now label textarea:-ms-input-placeholder{
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
}
.contact-us-now label input:-moz-placeholder,
.contact-us-now label textarea:-moz-placeholder{
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
}
.contact-us-now label input::-moz-placeholder,
.contact-us-now label textarea::-moz-placeholder{
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
}
.contact-us-now label input::-webkit-input-placeholder,
.contact-us-now label textarea::-webkit-input-placeholder{
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
}
.contact-us-now label textarea{
    width: 100%;
    padding: 20px;
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
    border: solid 1px #ebebeb;
    resize: none;
}
.contact-us-now .no-margin{
    margin: 0 !important;
}
.contact-us-now button[type="submit"]{
    display: inline-block;
    max-width: 235px;
    width: 100%;
    padding: 21px 0;
    text-align: center;
    background-color: #eeeeee;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: #777777;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.contact-us-now button[type="submit"]:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #ff5000;
    color: #fff;
}



@media (max-width: 992px){
    header .logo img{
        width: 90% !important;
        height: auto !important;
        display: block;
        position: relative;
        top: 25px;
    }
    .presentation.top{
        height: 500px;
    }
    .presentation.top .container{
        height: 500px;
    }
    .presentation.top .container .presentation-elem{
        bottom: 100px;
        text-align: center;
    }
    .big-title{
        font-size: 40px;
        padding: 10px 20px;
        display: inline-block;
        background-size: 5%;
    }
    .presentation-elem a{
        max-width: 150px;
        font-size: 14px;
        padding: 16px 0;
    }
    .presentation-elem{
        padding-right: 25px;
    }
    .facility-box{
        margin-bottom: 30px;
    }
    .title{
        font-size: 35px;
        padding: 10px 20px;
    }
    .title:before,
    .title:after{
        background-size: 25%;
    }
    .title:after{
        right: -20px;
    }
    .products-group{
        padding: 20px 0;
    }
    .recent-add-products{
        padding: 20px 0;
    }
    .products-group > .row:first-child{
        padding-left: 0px;
    }
    .products-group > .row:last-child{
        padding-right: 0px;
    }
    .presentation.middle{
        height: 500px;
    }
    .presentation.middle .container{
        height: 500px;
        text-align: center;
    }
    .about-us .image-box-about-us{
        height: auto;
        position: static;
    }
    .about-us .image-box-about-us img{
        position: static;
        height: auto;
        width: 100%;
    }
    .about-us .image-box-about-us{
        background: none;
    }
    .about-us .image-box-about-us:after{
        display: none;
    }
    .about-us{
        width: 95%;
        margin: -30px auto 0 auto;
        border: solid 1px #ebebeb;
    }
    .description-company .small-title{
        margin-top: 20px;
        text-align: center;
    }
    body, html{
        overflow-x: hidden;
    }
    .about-us{
        padding: 30px 0;
    }
    .about-us .description-company{
        text-align: center;
    }
    .blog .title{
        margin-bottom: 0;
    }
    .blog{
        padding: 20px 0;
    }
    .parteners-slider .parteners-prev-btn{
        left: 25%;
    }
    .parteners-slider .parteners-next-btn{
        right: 20%;
    }
    .seo{
        padding: 20px 0;
    }
    footer .logo a{
        display: block;
        width: 100%;
    }
    footer .logo img{
        margin: 0 auto 20px auto;
        display: block;
    }
    footer .text,
    footer .copyright{
        text-align: center;
    }
    header .bottom-header nav ul .submenu{
        padding: 20px;
    }
    .submenu-nav ul{
        padding: 0 !important;
    }
    .name-page{
        text-align: center;
        height: auto;
        padding: 20px 0;
    }
    .name-page .big-title{
        background: none;
    }
    .filter .text{
        text-align: center;
    }
    .breadcurbs-filter-result{
        text-align: center;
    }
    .result-search{
        text-align: center;
    }
    footer .text,
    footer .copyright{
        text-align: center;
    }
    .about-us.different{
        margin: 20px auto;
    }
    .about-post .img-box img{
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    .products-info .description-product .title{
        text-align: center;
        display: block;
        font-size: 30px;
    }
    .products-info .description-product .price{
        text-align: center;
        font-size: 20px;
    }
    form div{
        text-align: center;
    }
    form .mt60{
        margin: 0 !important;
    }
    form div{
        margin: 10px 0;
    }
    .small-different-title{
        text-align: center;
    }
}
@media (max-width: 768px){
    .dropdown-search button{
        background: none;
    }
    .dropdown-search button:hover{
        background: none;
    }
    .call-now{
        text-align: center;
        padding: 0 0 10px 0;
    }
    .user-elem{
        text-align: center;
    }
    .toggle-menu{
        font-size: 25px;
        color: #fff;
        position: relative;
        top: 4px;
        display: block !important;
    }
    .toggle-search{
        position: relative;
        top: 4px;
        font-size: 25px;
        color: #fff;
    }
    .logo-middle img{
        width: 40px;
    }
    .dropdown-search input{
        padding: 7px 0 4px 8px;
    }
    .dropdown-search{
        padding: 20px;
    }
    .dropdown-search button{
        font-size: 16px;
        right: 20px;
    }
    .middle-header{
        background-size: cover;
    }
    .bottom-header{
        display: none;
    }
    .bottom-header nav ul li{
        display: block;
        margin: 3px 0;
    }
    .presentation.top{
        height: auto;
    }
    .presentation.top .container{
        height: auto;
        padding: 50px 0;
    }
    .presentation-elem{
        padding: 0 30px;
    }
    .presentation.top .container .presentation-elem{
        position: static;
        text-align: center;
    }
    .big-title{
        font-size: 25px;
        padding: 10px 20px;
        display: inline-block;
        background-size: 5%;
    }
    .presentation-elem a{
        max-width: 150px;
        font-size: 14px;
        padding: 16px 0;
    }
    .presentation.middle{
        height: auto;
    }
    .presentation.middle .presentation-elem{
        position: static;
    }
    .presentation.middle .container{
        height: auto;
        padding: 50px 0;
        text-align: center;
    }
    .submenu{
        position: static;
        padding: 0;
    }
    .submenu .submenu-nav{
        text-align: center;
    }
    .bottom-header ul ul{
        text-align: center !important;
        border-top: 1px solid rgba(255,255,255, .1);
        border-bottom: 1px solid rgba(255,255,255, .1);
    }
    .left-slider-filter{
        padding: 55px 20px 20px 20px;
    }
    .left-slider-filter form{
        display: none;
    }
    .left-slider-filter {
        margin-bottom: 30px;
    }
    #map-1{
        height: 300px;
    }
    .contacts{
        top: 0;
    }
    .big-different-title{
        margin: 0;
    }
    .toggle-search{
        display: block !important;
    }
    .toggle-sidebar{
        display: block !important;
    }
}
@media(max-width: 1150px){
    .see-more{
        font-size: 12px;
    }
}
@media(max-width: 550px){
    .dropdown-search button{
        top: 26px;
    }

}
header{
    position: relative;
}
.dropdown-search{
    display: none;
    background: #1d1e23;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 100%;
}
.toggle-sidebar{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 25px;
    color: #000;
    display: none;
}

.left-slider-filter{
    position: relative;
}
.toggle-menu{
    display: none;
}
.toggle-search{
    display: none;
}
#back-to-top{
    position: fixed;
    bottom: 30px;
    color: #ff5000;
    text-align: center;
    font-size: 40px;
    right: 20px;
    display: none;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
}
.input-number{
    visibility: visible!important;
    display: block!important;
}

.popover.left {
    margin-top: 10px;
}
#cart-popover .arrow:before {
    display: none;
}
.popover.left>.arrow {

    right: -11px;
    margin-top: -7px;
}
.popover.left-top > .arrow, .popover.right-top > .arrow {
    top: 10px!important;
}





/*new styles cart*/






.shop-cart{
    position: relative;
}
.dropdown-shop-cart{
    width: 480px;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 6px 12px 0 rgba(36, 36, 36, 0.16);
    position: absolute;
    padding: 23px 0;
    z-index: 2;
}
.dropdown-shop-cart .name-product,
.body-product .name-product{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 20px;
    text-align: left;
    color: #1d1e23;
    line-height: 1;
}
.dropdown-shop-cart .name-product .strong-text,
.body-product .name-product .strong-text{
    font-family: "Roboto" , sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #1d1e23;
}
.dropdown-shop-cart .name-product .light-text,
.body-product .name-product .light-text{
    color: #707070;
    font-size: 12px;
    font-family: "Roboto" , sans-serif;
    font-weight: 500;
    text-align: left;
}
.header-cart .name-col{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 18px;
    text-align: left;
    color: #1d1e23;
}
.header-cart{
    padding: 17px 70px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f8f8f8;
}

.dropdown-shop-cart .products-added{
    background-color: #f8f8f8;
    box-shadow: 0 1px 0 0 #e0e0e0;
    padding: 9px 14px;
}
.dropdown-shop-cart .name-box{
    text-align: left;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 20px;
    color: #1d1e23;
    padding: 0 23px 23px 23px;
}
.dropdown-shop-cart{
    display: none;
    top: 26px;
}
.close-shop-cart{
    font-size: 20px;
    padding: 0 20px 0 0;
    color: #000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.close-shop-cart:hover{
    color: #ff5000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.dropdown-shop-cart .remove-product-cart{
    font-size: 20px;
    margin-top: 35px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.dropdown-shop-cart .remove-product-cart:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #ff5000;
    cursor: pointer;
}
.dropdown-shop-cart .img-product img{
    margin-top: 8px;
}
.separator-border{
    height: 2px;
    background: #ff5000;
}
.dropdown-shop-cart .quantity-products{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 20px;
    text-align: right;
    color: #1d1e23;
}

.dropdown-shop-cart .open-shop-cart-page{
    max-width: 418px;
    width: 100%;
    margin: 0 auto;
    padding: 21px 0;
    background-color: #ff5000;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 0.93;
    text-align: center;
    color: #ffffff;
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.dropdown-shop-cart .open-shop-cart-page:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #ff5000;
    background: #000;
}

.cart .product{
    box-shadow: 0 1px 0 0 #e0e0e0;
    padding: 9px 0;
}

.product .body-product .input-group{
    background-color: #ffffff;
    border: solid 1px #ebebeb;
}
.product .body-product button{
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #f8f8f8;
    color: #000;
}
.product .body-product .input-group input{
    text-align: center;
    border: none;
    box-shadow: none;
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #a1b1bc;
    padding-top: 15px;
}
.product .body-product .input-group input:-moz-placeholder{
    text-align: center;
    border: none;
    box-shadow: none;
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #a1b1bc;
}
.product .body-product .input-group input::-moz-placeholder{
    text-align: center;
    border: none;
    box-shadow: none;
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #a1b1bc;
}
.product .body-product .input-group input:-ms-input-placeholder{
    text-align: center;
    border: none;
    box-shadow: none;
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #a1b1bc;
}
.product .body-product .input-group input::-webkit-input-placeholder{
    text-align: center;
    border: none;
    box-shadow: none;
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #a1b1bc;
}

.product .body-product .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
    border-radius: 0;
    right: 2px;
}
.product .body-product .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group{
    border-radius: 0;
    left: 2px;
}
.product .body-product .input-group{
    width: 135px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    margin: 0 auto;
}
.product .body-product .price{
    margin-top: 12px;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #1d1e23;
}
.cart .product .remove-product{
    margin-top: 40px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #ff5000;
    position: relative;
    left: 30px;
}
.cart .product .remove-product:hover{
    cursor: pointer;
    color: #000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.cart .product button:focus{
    background: #f8f8f8 !important;
    box-shadow: none !important;
    outline: none !important;
    outline-offset: 0px !important;
    border: none !important;
}

.cart .cart-box .product{
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
}
.cart .cart-box .product:last-of-type{
    border: none;
}
.cart .cart-box{
    padding: 35px 37px;
    background: #fff;
}
.cart{
    padding: 20px 0;
    background-color: #f8f8f8;
}

.register-now a{
    font-family: "United Sans Rg Light" , sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.register-now a:hover{
    color: #0a6be7;
}
.register-now {
    font-family: "United Sans Rg Light" , sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
    padding: 17px 19px;
    background-color: #ff5000;
    box-shadow: 0 1px 0 0 #e0e0e0;
}

.header-cart .big-text{
    font-family: "United Sans Reg Black" , sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 3.11;
    text-align: left;
    color: #1d1e23;
}

.cart form label{
    display: block;
    width: 100%;
}
.cart form label input{
    display: block;
    width: 100%;
    height: 52px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    padding: 0 0 0 20px;
    font-family: "United Sans Rg Light" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
}
.cart form label input:-ms-input-placeholder{
    font-family: "United Sans Rg Light" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
}
.cart form label input:-moz-placeholder{
    font-family: "United Sans Rg Light" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
}
.cart form label input::-moz-placeholder{
    font-family: "United Sans Rg Light" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
}
.cart form label input::-webkit-input-placeholder{
    font-family: "United Sans Rg Light" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #a1b1bc;
}
.cart form label .select2-container--default .select2-selection--single{
    height: 52px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    padding: 0 0 0 9px;
}
.cart form .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 42px;
}
.cart form .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px;
    right: 12px;
}
.cart form label{
    margin: 0 0 15px 0;
}
.right-sidebar  label{
    font-family: "United Sans Rg Light" , sans-serif;
    margin-bottom: 12px;
    font-size: 12px;
    color: #727272;
}
.right-sidebar label .strong{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 12px;
    color: #000;
    margin-left: 10px;
}
.cart .right-sidebar{
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    padding: 14px;
}
.cart .big-border{
    height: 2px;
    background: #ff5000;
}
.cart .strong-text{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 20px;
    text-align: left;
    color: #1d1e23;
    margin: 10px 0;
}

.cart .right-sidebar .jq-radio.checked .jq-radio__div{
    width: 10px;
    height: 10px;
    background-color: #ff5000;
    box-shadow: none;
    margin: 0;
    position: relative;
    top: 3.2px;
    left: 3px;
}
.cart .right-sidebar .jq-radio{
    width: 18px;
    height: 18px;
    background-color: #f8f8f8;
    border: solid 1px #e6e6e6;
    box-shadow: none;
}
.cart .right-sidebar .submit{
    background-color: #ff5000;
    max-width: 235px;
    width: 100%;
    height: 53px;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.cart .right-sidebar .submit:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #000000;
}
.panel-box{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 18px;
    text-align: left;
    color: #1d1e23;
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 1px 0 0 #e0e0e0;
    margin-bottom: 20px;
}
.transfer-info{
    padding: 41px 37px;
    background: #fff;
    border: solid 1px #ebebeb;
}
.transfer-info .large-description{
    font-family: "United Sans Rg Medium" , sans-serif;
    font-size: 14px;
    text-align: left;
    color: #1d1e23;
}
.transfer{
    background-color: #f8f8f8;
}
button.download{
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    max-width: 235px;
    width: 100%;
    height: 53px;
    padding: 15px 0;
    background-color: #ff5000;
    display: block;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
button.download:hover{
    background: #000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #fff;
}
button.download span{
    font-size: 28px;
    margin-right: 10px;
    position: relative;
    top: -3px;
    vertical-align: middle;
}
.transfer-info .large-description div{
    margin: 0 0 10px 0 !important;
}
.finish-pay{
    position: relative;
    height: 90vh;
    background: #000;
    background: url("../images/finish-pay.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.finish-pay .message{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.finish-pay .message a{
    max-width: 235px;
    text-align: center;
    width: 100%;
    display: block;
    height: 53px;
    background-color: #ff5000;
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 0.93;
    color: #ffffff;
    padding: 22px 0 0 0;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.finish-pay .message a:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #000;
    color: #fff;
    text-decoration: none;
}
footer.fixed-position{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
header.fixed-position{
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
@media(max-width: 768px){
    .cart .product .name-product{
        text-align: center !important;
    }
    .cart .product{
        text-align: center;
    }
    .cart .product .remove-product{
        margin: 10px 0;
        left: 0;
        font-size: 20px;
    }
    .cart .product .remove-product:after{
        content: "Sterge";
        margin-left: 5px;
    }
    .cart .right-sidebar .submit{
        margin: 0 auto;
        display: block;
    }
    .header-cart .name-col{
        font-size: 10px;
    }
    .register-now a,
    .register-now{
        font-size: 11px;
    }
    .dropdown-shop-cart .name-product, .body-product .name-product{
        font-size: 14px;
    }
    .dropdown-shop-cart .name-product .light-text, .body-product .name-product .light-text{
        font-size: 12px;
    }
    .product .body-product .price{
        font-size: 18px;
    }
    .product .body-product .input-group{
        margin: 10px auto 0 auto;
    }
    .finish-pay .message{
        top: 37vh;
    }
    .finish-pay .message a{
        font-size: 12px;
        padding: 10px 0;
        height: auto;
        max-width: 120px;
    }
}

@media(max-width: 768px) and (max-height: 450px){
    .finish-pay .message{
        top: 33vh;
    }
}
@media (max-width: 768px){
    .shop-cart a{
        color: #fff !important;
        font-size: 26px !important;
    }
    .mobile-cart .fixed-mobile{
        position: fixed !important;
        top: 0;
        left: 0px;
        margin: 0;
        width: 100%;
        background: #fff;
        padding: 15px 0 0 0;
        z-index: 10;
        box-shadow: 0 3px 0 0 rgba( 0 , 0, 0, .3);
    }
}

.mobile-cart{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 23px 40px;
    overflow-y: auto;
    max-width: 100%;
}

.mobile-cart {
    text-align: center;
    z-index: 10;
}
.mobile-cart .img-product img{
    display: block;
    margin: 0 auto;
    max-width: 120px;
}
.mobile-cart .name-product{
    text-align: center;
}
.mobile-cart .quantity-products{
    text-align: center;
}
.mobile-cart .products-added{
    border-bottom: 1px solid #000;
}

.disabled-scroll{
    overflow: hidden;
    height: 100vh;
    top: 0;
    left: 0;
}
.scroll-cart{
    height: 450px;
    overflow-y: auto;
    overflow-x:hidden;
}

.cart .forma-dr label input {
    display: inline-block;
    width: auto;
    height: auto;
}
.warning{
    border: 2px dashed red;
}


/* NEW STYLE */
.user-account-tabs{
    padding: 14px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
}

.user-account-tabs .nav-tabs li{
    display: block !important;
    float: none;
}
.user-account-tabs .nav-tabs{
    padding: 15px 0 0 0;
}
.user-account-tabs .nav-tabs li a{
    border: none;
    background-color: #f8f8f8;
    box-shadow: 0 1px 0 0 #e0e0e0;
    font-family: "United Sans Rg Black" ,sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 0.93;
    text-align: center;
    color: #1d1e23;
    border-radius: 0;
    padding: 21px 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    margin: 2px 0;
}
.user-account-tabs .nav-tabs li.active:hover a{
    border: none;
}
.user-account-tabs .nav-tabs li a:hover{
    background-color: #ff5000;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.user-account-tabs .nav-tabs li.active a{
    background-color: #ff5000;
    box-shadow: 0 1px 0 0 #e0e0e0;
    color: #fff;
    margin: 0;
}
.user-account .small-title{
    font-family: "United Sans Rg Black" , sans-serif;
    font-size: 22.7px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    position: relative;
    background: url("../images/title-top-left.png") top left , url("../images/title-left-bottom.png") bottom left , url("../images/title-top-right.png") right top , url("../images/title-bottom-right.png") right bottom;
    background-repeat: no-repeat;
}
.user-account-tabs .small-title{
    color: #000;
}
.user-account-tabs .nav-tabs li button{
    background-color: #1d1e23;
    box-shadow: 0 1px 0 0 #e0e0e0;
    display: block;
    width: 100%;
    border-radius: 0;
    color: #fff;
    padding: 21px 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.user-account-tabs .nav-tabs li button:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #ff5000;
}
.user-account{
    padding: 25px 0;
}
.user-account .tab-content{
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    padding: 34px;
}
.cart form label input,
.user-account label input,
.register-box label input,
.login-box label input{
    display: block;
    width: 100%;
    height: 52px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    padding: 0 0 0 20px;
    font-family: "United Sans Rg Light" , sans-serif;
    font-size: 15px;
    text-align: left;
    color: #000;
}
.user-account label,
.register-box label,
.login-box label{
    width: 100%;
    margin: 0 0 15px 0;
}
.user-account form label .select2-container--default .select2-selection--single,
.register-box form label .select2-container--default .select2-selection--single,
.login-box form label .select2-container--default .select2-selection--single{
    height: 52px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    padding: 0 0 0 9px;
}
.user-account form .select2-container--default .select2-selection--single .select2-selection__rendered,
.register-now form .select2-container--default .select2-selection--single .select2-selection__rendered,
.login-box form .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 42px;
}
.user-account form .select2-container--default .select2-selection--single .select2-selection__arrow,
.register-box form .select2-container--default .select2-selection--single .select2-selection__arrow,
.login-box form .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 12px;
    right: 12px;
}
.user-account .select2-container--default .select2-selection--single .select2-selection__rendered,
.login-box .select2-container--default .select2-selection--single .select2-selection__rendered,
.register-box .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 43px;
}
.user-account form .submit,
.user-account .submit,
.register-box form .submit,
.login-box form .submit{
    background-color: #ff5000;
    max-width: 235px;
    width: 100%;
    height: 53px;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.user-account table .submit{
    padding: 10px 20px;
    height: auto;
}
.user-account form .submit:hover,
.register-box form .submit:hover,
.login-box form .submit:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #000000;
}

.tab-content table th ,
.tab-content table td{
    background-color: #f8f8f8;
    box-shadow: 0 1px 0 0 #e0e0e0;
    padding: 17px;
    border: 2px solid #fff;
}
.tab-content table{
    margin-top: -19px;
    width: 100%;
}
.tab-content table td:first-of-type,
.tab-content table th:first-of-type{
    border-left: none;
    width: 20%;
}
.tab-content table td:last-of-type,
.tab-content table th:last-of-type{
    width: 80%;
    border-right: none;
}
.tab-content table td.strong{
    font-weight: bold;
}

.tab-content table.egal-width-td td{
    width: 50%;
}
.tab-content table.no-border td{
    border: none;
}
.tab-content table.width-auto th{
    border: none;
}
.tab-content table.width-auto td{
    width: auto !important;
    min-width: 100px !important;
    border-top: 2px solid #eaeaea;
}
.tab-content table.width-auto td:last-of-type,
.tab-content table.width-auto th:last-of-type{
    width: auto !important;
}
.tab-content .text,
.tab-content .text a{
    font-family: "United Sans Rg Regular" , sans-serif;
    font-size: 14px;
    text-align: left;
    color: #1d1e23;
}
.tab-content .text .strong{
    font-weight: bold !important;
    color: #000 !important;
}
.tab-content .text a{
    color: #ff5000 !important;
}
.tab-content .text a:hover{
    text-decoration: underline;
}
.login-box,
.register-box{
    padding: 14px;
    background: #fff;
    border: solid 1px #ebebeb;
}
.login-user{
    padding: 25px 0;
}
.login-box a{
    color: #ff5000;
    margin-bottom: 15px;
    display: block;
}
.login-box a:hover{
    text-decoration: underline;
}

@media (max-width: 768px){
    .scroll-table{
        width: 100%;
        overflow-x: auto;
        overflow-y: visible;
    }
    .scroll-table table{
        min-width: 800px;
    }
}
.right-sidebar .small-title{
    color: #000;
    margin-bottom: 20px;
}

